---
import Layout from "@/layouts/Layout.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import LinkButton from "@/components/LinkButton.astro";
import { SITE } from "@/config";
import { getLangFromUrl } from "@/utils/getLangFromUrl";
import { useTranslations } from "@/utils/useTranslations";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const title = t("404.title");
const feed = t("404.feed");
const message = t("404.message");
const goBackHome = t("404.goBackHome");
---

<Layout title={`404 Not Found | ${SITE.title}`}>
  <PageLayout>
    <div
      class="my-12 flex w-full flex-col items-center justify-center"
      slot="main-body-slot"
    >
      <h1 class="text-5xl font-bold text-accent md:text-9xl">{title}</h1>
      <span aria-hidden="true">{feed}</span>
      <p class="mt-4 text-2xl sm:text-3xl">{message}</p>
      <LinkButton
        href="/"
        class="my-6 text-lg underline decoration-dashed underline-offset-8"
      >
        {goBackHome}
      </LinkButton>
    </div>
  </PageLayout>
</Layout>
