---
import IconArchive from "@/assets/icons/IconArchive.svg";
import IconHome from "@/assets/icons/IconHome.svg";
import IconNews from "@/assets/icons/IconNews.svg";
import IconTags from "@/assets/icons/IconTags.svg";
import IconUserExclamation from "@/assets/icons/IconUserExclamation.svg";
import MenuLink from "./MenuLink.astro";
import { SITE } from "@/config";
import { isActivePage } from "@/utils/activePage";
import { getCurrentPage } from "@/utils/activePage";
import { getLangFromUrl } from "@/utils/getLangFromUrl";
import { useTranslations } from "@/utils/useTranslations";

const { pathname } = Astro.url;

// Remove trailing slash from current url if exists
const currentPath = getCurrentPage(pathname);

const isActive = (path: string): boolean => {
  return isActivePage(currentPath, path);
};

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const goToTheHomePage = t("nav.goToTheHomePage");
const post = t("nav.post");
const tag = t("nav.tag");
const about = t("nav.about");
const archive = t("nav.archive");
---

<li>
  <MenuLink
    href="/"
    class:list={{ "active-nav [&>svg]:stroke-accent": isActive("/") }}
    ariaLabel={goToTheHomePage}
    title={goToTheHomePage}
  >
    <IconHome />
    {goToTheHomePage}
  </MenuLink>
  <hr class="my-2 dark:border-gray-600/20" />
</li>
<li>
  <MenuLink
    href="/posts"
    class:list={{
      "active-nav [&>svg]:stroke-accent": isActive("/posts"),
    }}
    ariaLabel={post}
    title={post}
  >
    <IconNews />
    {post}
  </MenuLink>
</li>
<li>
  <MenuLink
    href="/tags"
    class:list={{
      "active-nav [&>svg]:stroke-accent": isActive("/tags"),
    }}
    ariaLabel={tag}
    title={tag}
  >
    <IconTags />
    {tag}
  </MenuLink>
</li>
<li>
  <MenuLink
    href="/about"
    class:list={{
      "active-nav [&>svg]:stroke-accent": isActive("/about"),
    }}
    ariaLabel={about}
    title={about}
  >
    <IconUserExclamation />
    {about}
  </MenuLink>
  {!SITE.showArchives && <hr class="my-2 dark:border-gray-600/20" />}
</li>
{
  SITE.showArchives && (
    <li>
      <MenuLink
        href="/archives"
        class:list={{
          "active-nav [&>svg]:stroke-accent": isActive("/archives"),
        }}
        ariaLabel={archive}
        title={archive}
      >
        <IconArchive />
        {archive}
      </MenuLink>
      <hr class="my-2 dark:border-gray-600/20" />
    </li>
  )
}
